@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --dark-purple: #320361;
    --light-white: #F9ECFD;
}

/* fontes */

.subtitleFont {
    font-family: 'Abril Fatface', serif;
    font-weight: 400;
    font-size: 36px;
    color: var(--dark-purple);
}

.paragraphFont {
    font-family: 'Mulish', sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

/* styles */

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light-white);
}

header {
    width: 100%;
    height: 122px;
    box-shadow: 0px 0px 5px black;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
#header {
    display: flex;
    width: 1225px;
    justify-content: space-between;
    align-items: center;
}

#header ul {
    list-style: none;
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
}

#header img {
    height: 90px;
    width: 71px;
}

#banner img {
    height: 621px;
    width: 100%;
    border-radius: 16px;
}

#titleWelcome, #titleOurTeam{
    display: flex;
    justify-content: center;
    padding: 120px 0 50px;
}

#dotsPink {
    height: 189px;
    width: 278px;
    position: absolute;
    right: 300px;
}

#arrowYellow {
    position: absolute;
    left: 470px;
}

#pWelcome {
    display: flex;
    justify-content: space-around;
}

#pWelcome p, #pWelcome img {
    height: 510px;
    width: 548.7px;
}

#pWelcome img {
    border-radius: 100%;
}

#ourTeam{
    height: 800px;
}

#dotsPurple {
    height: 189px;
    width: 278px;
    position: absolute;
    left: 300px;
}

#teachers {
    display: flex;
    position: relative;
}

.cards img{
    height: 393px;
    width: 393px;
    border-radius: 98px;
}

.cards{
    filter: blur(4px);
    transition: 300ms linear; 
}

.cards:hover {
    filter: blur(0px); 
    z-index: 6;
    transform: scale(1.05);
}

.card2 {
    position: absolute;
    left: 235px;
}

.card3{
    position: absolute;
    left: 470px;
}
.card4{
    position: absolute;
    left: 700px;
}
.card5{
    position: absolute;
    right: 0;
}


