@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --dark-purple: #320361;
    --light-white: #F9ECFD;
    --yellow: #ffc400;
}

/* fontes */

.subtitleFont {
    font-family: 'Abril Fatface', serif;
    font-weight: 400;
    font-size: 28px;
    color: var(--dark-purple) !important;
}

.paragraphFont {
    font-family: 'Mulish', sans-serif;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
}
span{
    font-weight: 650;
    color: var(--yellow);
}

/* styles */

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light-white);
}

main {
    padding: 0 400px !important;
}

header {
    width: 100%;
    height: 90px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
#header {
    display: flex;
    width: 1200px;
    justify-content: space-between;
    align-items: center;
}

#header ul {
    list-style: none;
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
}

#header img {
    height: 60px;
    width: 60px;
}

#banner {
    display: flex;
    justify-content: center;
}

#banner img {
    height: 621px;
    border-radius: 16px;
}

#titleWelcome, #titleOurTeam{
    display: flex;
    justify-content: center;
    padding: 120px 0 50px;
}

#dotsPink {
    height: 189px;
    width: 278px;
    position: absolute;
    right: 300px;
    display: none;
}

#arrowYellow {
    position: absolute;
    left: 470px;
    display: none;

}

#pWelcome {
    display: flex;
    justify-content: space-around;
    padding: 40px 100px 0;
}

#pWelcome p {
    height: 350px;
    width: 500px;
}

#pWelcome img {
    height: 350px;
    width: 350px;
}

#pWelcome img {
    border-radius: 100%;
}

#ourTeam{
    height: 600px;
}

#dotsPurple {
    height: 189px;
    width: 278px;
    position: absolute;
    left: 300px;
    display: none;
}

#teachers {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 320px;
}

.textTeacher{
    width: 210px;
    position: relative;
    top: -130px;
    text-align: justify;
    background-color: #0000003a;
    color: #FFF;
    padding: 10px;
    font-size: 20px;
}

.cards img{
    height: 320px;
    width: 230px;
}

.cards{
    transition: 300ms linear; 
}

.cards:hover {
    transform: scale(1.05);
}

#titleEnroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
}

#titleEnroll p.paragraphFont {
    margin-top: 50px;
}

#titleEnroll h2{
    margin-top: 40px;
}

#iconwhatsapp {
    height: 50px;
    margin: 5px;
    margin-left: 15px;
}

/* rodapé */ 

#rodape {
    background-color: #000;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    color: white;
}

#support {
    width: 1225px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#support ul li {
    list-style: none;
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

footer a:visited {
    color: #fff
}

/*
Depoimentos
*/
#depoimentos{
    margin: 60px 0 20px;
    text-align: center;
}

#depoimentos h2{
    margin-bottom: 20px;
}

.carrossel {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    overflow: hidden;
    background-color: var(--light-white);
    padding: 0 20px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

.texto {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Mulish', sans-serif;
}

.autor {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    color: #555;
}

.buttonDepoimentos {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transform: translateY(-50%);
}

.prev {
    left: 5px;
}

.next {
    right: 5px;
}

.buttonDepoimentos:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

#contateButton {
    margin: 30px;
    height: 50px;
    width: 180px;
    border-radius: 30px;
    color: #fff;
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
    font-size: 20px;
    background-color: green;
}

#contateButton:hover {
    transform: scale(1.1);
    transition: 1s;
    cursor: pointer;
}

#titleEnroll button {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

a {
    text-decoration: none !important;
}

/*Tablet Paisagem e desktop pequenos */
@media only screen and (min-width: 1025px) and (max-width: 1280px){
    .subtitleFont {
        font-family: 'Abril Fatface', serif;
        font-weight: 400;
        font-size: 20px;
        color: var(--dark-purple) !important;
    }
    
    .paragraphFont {
        font-family: 'Mulish', sans-serif;
        font-size: 15px;
        font-weight: 400;
        text-align: center;
    }

    main {
        padding: auto;
    }

    #header {
        width: 1025px;
    }

    #banner img {
        height: auto;
        width: 1025px;
    }
}

/*Tablet Retrato*/
@media only screen and (min-width: 769px) and (max-width: 1024px){
    .subtitleFont {
        font-family: 'Abril Fatface', serif;
        font-weight: 400;
        font-size: 20px;
        color: var(--dark-purple) !important;
    }
    
    .paragraphFont {
        font-family: 'Mulish', sans-serif;
        font-size: 15px;
        font-weight: 400;
        text-align: center;
    }

    main {
        padding: 0 !important;
    }

    #header {
        width: 769px;
    }

    #banner img {
        height: auto;
        width: 769px;
    }
}

/*Smartphone grande*/
@media only screen and (min-width: 481px) and (max-width: 768px){

    .subtitleFont {
        font-family: 'Abril Fatface', serif;
        font-weight: 400;
        font-size: 15px;
        color: var(--dark-purple) !important;
    }
    
    .paragraphFont {
        font-family: 'Mulish', sans-serif;
        font-size: 12px;
        font-weight: 400;
        text-align: center;
    }

    main {
        padding: auto;
    }

    header {
        height: 70px;
    }

    #header {
        width: 481px;
    }

    #header img {
        height: 50px;
        width: 50px;
    }

    #header ul {
        width: 75%;
    }

    #banner img {
        height: auto;
        width: 481px;
    }    
}

/* Smartphone pequeno */
@media only screen and (min-width: 320px) and (max-width: 480px){
    .subtitleFont {
        font-family: 'Abril Fatface', serif;
        font-weight: 200;
        font-size: 13px;
        color: var(--dark-purple) !important;
    }
    
    .paragraphFont {
        font-family: 'Mulish', sans-serif;
        font-size: 13px;
        font-weight: 300;
        text-align: center;
    }

    * {
        margin: 0;
        padding: 0;
    }

    main {
        padding: 0 !important;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header {
        height: 100px;
    }

    #header {
        width: 320px;
        flex-direction: column;        

    }

    #navBar {
        flex-direction: column;        
    }

    #header img {
        height: 40px;
        width: 40px;
    }

    #header ul {
        width: 75%;
    }

    #banner img {
        height: auto;
        width: 320px;
    } 

    #welcome {
        width: 320px;
    }
    #pWelcome {
        flex-direction: column;
        width: 320px;
    }
    
    #pWelcome p {
        width: 320px;
    }
    
    #pWelcome img {
        width: 320px;
    }

    #ourTeam{
        height: 600px;
    }
    
    #dotsPurple {
        height: 30px;
        width: 60px;
        display: none;
    }
    
    #teachers {
        display: flex;
        width: 320px;
        justify-content: space-between;
        height: 320px;
    }
    
    .textTeacher{
        width: 50px;
        top: -80px;
        padding: 2px;
        font-size: 8px;
    }
    
    .cards img{
        height: 150px;
        width: 54px;
    }

    #depoimentos{
        margin: 10px 0 5px;
        width: 320px;
    }
    
    #depoimentos h2{
        margin-bottom: 10px;
    }
    
    .carrossel {
        position: relative;
        max-width: 320px;
    }
    
    .slides {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }
    
    .slide {
        min-width: 100%;
        box-sizing: border-box;
        padding: 20px;
        text-align: center;
    }
    
    .texto {
        font-size: 13px;
        font-weight: bold;
        margin-bottom: 10px;
        font-family: 'Mulish', sans-serif;
    }
    
    .autor {
        font-family: 'Mulish', sans-serif;
        font-size: 13px;
        color: #555;
    }
    
    .buttonDepoimentos {
        position: absolute;
        top: 50%;
        width: 40px;
        height: 40px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        transform: translateY(-50%);
    }
    
    .prev {
        left: 5px;
    }
    
    .next {
        right: 5px;
    }

    #pWelcome {
        justify-content: space-around;
        padding: 0;
    }
    
    #pWelcome p {
        height: 350px;
        width: 320px;
    }
    
    #pWelcome img {
        height: 350px;
        width: 350px;
    }
    
    #pWelcome img {
        border-radius: 100%;
    }
    
}

@media only screen and (max-width: 320px){
    *{
        display: none;
    }
}